In [1]:
from utils import *

### Compute ICC

In [2]:
df1 = pd.read_csv('../data/05_human_ratings/human_ratings_part1.csv')
df1 = df1.drop(columns=['age', 'sex'])
df1.head()

,SUB016_SPEECH001,SUB021_SPEECH001,SUB026_SPEECH002,SUB032_SPEECH001,SUB047_SPEECH001,SUB062_SPEECH001,SUB063_SPEECH002,SUB072_SPEECH002,SUB007_SPEECH002,SUB029_SPEECH002,SUB070_SPEECH002,SUB035_SPEECH001
0,3,4,7,4,6,4,4,8,4,4,8,4
1,1,3,9,7,10,8,3,5,4,7,6,6
2,3,6,7,8,8,7,8,7,6,4,6,5
3,6,6,8,7,10,7,6,7,6,6,7,9
4,5,6,6,7,6,5,6,6,5,7,5,6

In [3]:
ratings_matrix1 = df1.T.iloc[:, :]
icc_value1 = compute_icc(ratings_matrix1)
icc_value1

0.8595179943928217

In [4]:
df2 = pd.read_csv('../data/05_human_ratings/human_ratings_part2.csv')
df2 = df2.drop(columns=['age', 'sex'])
df2.head()

,SUB002_SPEECH001,SUB008_SPEECH001,SUB027_SPEECH002,SUB039_SPEECH001,SUB045_SPEECH002,SUB077_SPEECH002,SUB050_SPEECH002,SUB056_SPEECH001,SUB059_SPEECH001,SUB065_SPEECH001,SUB075_SPEECH001,SUB078_SPEECH001
0,4,5,7,7,6,6,5,8,6,5,5,7
1,3,5,8,6,5,5,7,6,4,7,6,7
2,6,4,8,7,6,7,5,8,8,8,6,9
3,6,5,7,6,6,9,7,8,8,7,8,8
4,6,8,7,7,7,7,7,7,8,7,8,7

In [5]:
ratings_matrix2 = df2.T.iloc[:, :]
icc_value2 = compute_icc(ratings_matrix2)
icc_value2

0.9166284072598335

### Combine Means and Save

In [6]:
df1_mean = df1.mean()
df2_mean = df2.mean()

df1_mean_df = df1_mean.reset_index()
df1_mean_df.columns = ["Speech", "Mean_Score"]

df2_mean_df = df2_mean.reset_index()
df2_mean_df.columns = ["Speech", "Mean_Score"]

df_human_ratings = pd.concat([df1_mean_df, df2_mean_df], ignore_index=True)

df_human_ratings.to_csv('../data/05_human_ratings/averaged_human_ratings.csv')
df_human_ratings.head()

             Speech  Mean_Score
0  SUB016_SPEECH001    3.166667
1  SUB021_SPEECH001    5.166667
2  SUB026_SPEECH002    7.033333
3  SUB032_SPEECH001    7.166667
4  SUB047_SPEECH001    7.433333